@media (max-width: 360px) {

    .card {

        width: 350px;
        height: 150px;
        margin: 5px;
    }

    .carousel{
        width: 170px;
        height: 150px;
        padding: 5px;
    }
    .img {
        display: block;
        width: 100%;
        height: 100%;
    }
    
    .flexText {
        width: 170px;
        padding: 5px;
    }
    .line {
        width: 1px;
        background-color: black;
        opacity: 0.2;
        margin-top: 10px;
        margin-bottom: 10px;
    }

}

@media (min-width: 361px) and (max-width: 760px) {
    .card {

        width: 350px;
        height: 150px;
        margin: 5px;
    }

    .carousel{
        width: 170px;
        height: 150px;
        padding: 5px;
    }
    .img {
        display: block;
        width: 100%;
        height: 100%;
    }
    
    .flexText {
        width: 170px;
        padding: 5px;
    }
    .line {
        width: 1px;
        background-color: black;
        opacity: 0.2;
        margin-top: 10px;
        margin-bottom: 10px;
    }



}

@media (min-width: 761px) and (max-width: 1140px) {
    .card {

        width: 350px;
        height: 150px;
        margin: 5px;
    }

    .carousel{
        width: 170px;
        height: 150px;
        padding: 5px;
    }
    .img {
        display: block;
        width: 100%;
        height: 100%;
    }
    
    .flexText {
        width: 170px;
        padding: 5px;
    }
    .line {
        width: 1px;
        background-color: black;
        opacity: 0.2;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    
}

@media (min-width: 1141px) {

        .card {

        width: 350px;
        height: 150px;
        margin: 5px;
    }

    .carousel{
        width: 170px;
        height: 150px;
        padding: 5px;
    }
    .img {
        display: block;
        width: 100%;
        height: 100%;
    }
    
    .flexText {
        width: 170px;
        padding: 5px;
    }
    
    
    .line {
        width: 1px;
        background-color: black;
        opacity: 0.2;
        margin-top: 15px;
        margin-bottom: 15px;
    }

}


.flexText {
    justify-content: center;
}
.flexPrice {
    justify-content: center;
}

