.containerProfile {
  margin: 7% auto 20% auto;
  box-shadow: 4px 4px 4px 4px #dde0e7;
  max-width: 994px;
  width: 86%;
  height: auto;
  border-radius: 3px;
}

.header {
  display: flex;
  border-bottom: solid #b5b8bd 1px;
}

.containerProfile h1 {
  font-size: 40px;
  color: #717a8f;
  margin-bottom: 4px;
}

.nameBox {
  padding: 30px 30px 30px 1%;
  display: flex;
  align-items: center;
}

.img {
  display: inline-block;
  margin: 25px;
}

.content {
  display: flex;
}

.navPanel {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #b5b8bd;
  width: 20%;
  min-width: 200px;
}

.navPanel a {
  padding: 10px;
  /* text-align: left; */
  font-size: 16px;

  color: #7c7f83;
  border: none;

  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navIcon {
  margin-right: 8px;
}
.navPanel a:hover {
  color: #0279b3;
}

.outlet {
  flex-grow: 1;
  min-height: 200px;
}
