.myCard {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.flexCard {
  display: flex;
  flex-direction: column;
  width: 900px;
  align-items: center;
}

.title {
  font-size: 22px;
}

.headerFlex {
  display: flex;
  width: 100%;
}

.header {
  flex-direction: column;
}

.str {
  display: flex;
  margin: 8px;
}

.elem {
 margin-left: 20px;
}

.img_calendar_conteiner{
  display: flex;
  justify-content: center;
  width: 100%;
}

.border {
  border-radius: 15px;
  width: 60%;
  height: 100%;
}


.dataConteiner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
  width: 40%;
}

.calend {
  margin-left: 0;
}

.price {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  background-color: white;
  border-radius: 12px;
  width: 100%;
  padding: 15px;
}

.pravilo{
  background-color: white;
  border-radius: 12px;
  width: 100%;
}

.pravilo p{
 font-size: 18px;
 margin-top: 10px;
}




.data{
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: white;
  border-radius: 12px;
  font-size: 18px;
  padding: 15px;
  width: 100%;

}

.img {
  width: 100%;
  height: 450px;
}

.img_c {
  border-radius: 15px;
}

.element {
  width: 100%;
  border-radius: 15px;
}

.map {
  margin-top: 20px;
  width: 100%;
  height: 550px;
  margin-bottom: 20px;
}