.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15) !important;
}

.card {
  /* border: 1px solid #e0e0e0; */

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  transition: transform 0.3s, box-shadow 0.3s;
}

.cards Button {
  margin-top: 20px !important;
}

.img {
  display: flex;
  flex-direction: row;
}

.img p {
  margin-right: 20px;
}
